<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="{% url 'home' %}">Itweet</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li><form class="form-inline my-2 my-lg-0 search-form" action="{% url 'tweet:list' %}" method="GET">
        <input class="form-control mr-sm-2" placeholder="Search" name="q"  value="{{request.GET.q}}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form></li>
    </ul>
    {% if request.user.is_authenticated %}
    <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{ request.user }}">Profile</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              </div>
            </li>
    </ul>
    {% else %}
    <ul class="navbar-nav">
      <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                  </li>
    </ul>
    {% endif %}
  </div>

</nav>
